.{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}
body{
    height: auto;
    width: auto;
    font-family: sans-serif;
    background: lightgray;

}
.container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    place-items: center;
    height: 50%;
    margin: auto;
    padding: 50px;
}
.box{
    background: white;
    text-align: center;
    box-shadow: -1px 0 55px 5px;
}
.container img {
    width: 100%;
    height: 100%;
}
.text{
    padding: 20px;

}
.text h3 {
    font-size: 15px;
}
.text h3 {
    font-size: 15px;
}
.text p{
    font-size: 15px;
    line-height: 18px;
}
.button{
    background: lightblue;
    padding: 15px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
