*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background: #f5ffbf;
}
header {
    text-align: center;
    background: #4d4d4d;
    padding: 15px;
    color: rgb(255, 255, 255);
    
}
.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50 px;
    place-items: center;
    height: 100vh;
    margin: auto;
    padding: 50px;
}
.box {
background: white;
text-align: center;
box-shadow: 0 5px 5px rgba(rgb(219, 200, 200), rgb(65, 156, 65), blue, alpha);

}
.container img {
    width: 100%;
    height: 100%;
}
.text {
    padding: 20px
}
.text h4 {
    font-size: 14px;
}
.text p {
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0 10px 0 ;
}
.text h3 {
    font-size: 18px;
    color: rgb(199, 134, 55);
}
.button {
    background: #272727;
    padding: 15px;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: bisque;
}
footer {
    text-align: right;
    background: #5c5c5c;
    padding: 20px;
    color: rgb(255, 255, 255);
}