/* das sind lediglich ein paar Zeilen css in die gewünschte Richtung
   und kein vollständiges Stylesheet.*/

   body {
    background-color: rgb(243, 243, 243);
   }

.ud-header {
    background-color: slategray;
    color: beige;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 200px;
    left: 200px;
    align-items: center;
    justify-content: space-between;



}

.udh-right{
    font-family: tahoma;
    font-size: 20px;
}

.udh-middle {
    font-family: tahoma;
    font-size: 20px;


}

.udh-left {
    font-family: tahoma;
    font-size: 20px;
}

.ud-sidebar {
    background-color: rgb(168, 180, 192);
    color: beige;
    display: flex;
    position: fixed;
    top: 0;
    width: 200px;
    left: 0;
    bottom:0;
    align-items: center;
    justify-content: space-between;


}

.ud-footer {
    background-color: slategray;
    color: beige;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 200px;
    left: 200px;
    align-items: center;
    justify-content:space-evenly;
    


}

.footer-linkbox {
    display: flex;
    font-family: tahoma;
    font-size: 20px;
}